@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-360 {
    transition: transform 0.5s ease-in-out;
  }
  
  .rotate-360:hover {
    transform: rotate(360deg);
  }

.theme-move {
  transition: transform 1s ease-in-out;
}

.theme-move.move-up {
  animation: moveUp 1s ease-in-out;
}

.theme-move.move-down {
  animation: moveDown 1s ease-in-out;
}

@keyframes moveUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@keyframes moveDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(30px); }
  100% { transform: translateY(0); }
}

@media (max-width: 900px) and (min-width: 300px) { 
  .hero-section h2 {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 20px;
  }
}

@media (max-width: 1400px) and (min-width: 800px) { 
  .hero-section h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 24px;
  }
}